doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='main.css')
  link(rel='stylesheet' href='normailze.css')
  title TeamsPokemon
.container
  nav
    .brand
      img.logo(src='pokemon-logo-vector.png' alt='TeamsPokemon')
      h1.src-only TeamsPokemon
    .actions
      form(action='search')
        label(for='pokemon')
        input#pokemon.control(type='text' placeholder='Pokemon name')
  .container
    form(action='pokemon' method='get')
      p
        | Nombre: 
        input(type='text' name='nombre' size='40')
      p
        | tipo: 
        input(type='text' name='type' size='40')
      p
        | evolucion:
        input(type='text' name='evolucion' size='40')
      p
        input(type='submit' value='Enviar')
